body {
    margin: 0;
}

/* Header */
.container-header {
    display: flex;
    align-items: center;
    background-color: bisque;
    justify-content: space-between;

}

.shopping-cart {
    width: 30px;
    height: 30px;
    margin: 0% 10%;
}

.logo-shop {
    width: 25%;
    height: auto;
    margin: 2%;
}

.store-tittle {
     font-family: sans-serif;
     text-align:center;
     text-transform: uppercase;
     font-size: 70%;
}
/* Section 1 */


